@font-face{
    font-family: Outfit;
    src:url(Outfit.ttf)
}

.sidebar-submenu-traffic{
    font-family: 'Outfit', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100000;
    width: 55vh;
    height: 100vh;
    background-color: white;
    margin-left: 6.5vh;
    overflow: hidden;
    transition: all 0.5s;
}

.updating-traffic{
    display: flex;
    width: 55vh;
    height: 70vh;
    flex-wrap: wrap;
}


.traffic-header{
    display: flex;
    width: 55vh;
    height: 9vh;
    align-items: center;
    text-align: center;
    justify-content:space-around;

    background: #EB811E;;
}

.updatetraffic{
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 80px;
    letter-spacing: +1.3px;
    padding: 0vh 0vh 0vh 12%;
    color: #FFFFFF;
}

.traffic-close-icon{
    float: right;
}


.traffic-updateroute{
    text-align: center;
    position: absolute;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0.44px;
    width: 100%;
    top: 12vh;
}

.traffic-updateroutedesc{
    text-align: center;
    position: absolute;
    /* padding-left:2vh; */
    color: gray;
    font-family: 'Outfit';
    font-size: 1.5vh;
    width: 100%;
    top: 17vh;
}


.update-name-container{


    height: 2.8rem;
    margin-left: 5px;
    margin-bottom: 10px;
    position: absolute;
    display: flex;
    top: 100vh;
    width: 95%;
    height: 6vh;
    align-self: center;
    align-items: center;
    text-align: center;
    justify-content:space-around;
    background: #CFE8F5;
    border-radius: 15px;
    top: 21vh;

}

.road-name{

    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    /* text-transform: uppercase; */
    line-height: 80px;
    letter-spacing: +1.3px;
    /* padding: 0vh 0vh 0vh 12%; */
    color: #000000;
}

.traffic-status-container{
    height: 2.8rem;
    margin-left: 5px;
    margin-bottom: 10px;
    position: absolute;
    display: flex;
    top: 100vh;
    width: 95%;
    height: 15vh;
    align-self: left;
    align-items: left;
    text-align: left;
    /* justify-content:space-around; */
    background: transparent; 
    top: 26vh;    
}


.traffic-status{
    padding-top: 2vh;
    position:relative;
    text-align: left;
    font-family: 'Outfit';
}


.traffic-curstatus{
    position:relative;
    padding-left: 2.5vh;
}

.traffic-curstatbutton-light{
    background-color: yellow;
    border:none;
    padding: 2vh;
    margin-top:0.5vh;
    border-radius: 10vh;
    width:0%;
}

.traffic-curstatbutton-heavy{
    background-color: #F03232;
    border:none;
    padding: 2vh;
    margin-top:0.5vh;
    border-radius: 10vh;
    width:0%;
}

.status-label{
    font-weight: 700;
}
.traffic-statusdesc-light{
    position: relative;
    display: inline-flex;
    padding-left: 5vh;
    top:-3.5vh;
    color: #FEE227;
    font-weight: 0;
    font-family: 'Outfit';
}

.traffic-statusdesc-heavy{
    position: relative;
    display: inline-flex;
    padding-left: 5vh;
    top:-3.5vh;
    color: #F03232;;
    font-weight: 0;
    font-family: 'Outfit';
}

.traffic-updatestatbutton{
    background-color: #ff781f;
    color: white;
    border: none;
    border-radius:2vh;
    padding:1.5vh;
    font-weight: bold;
    font-size:2vh;
    margin-left: 7vh;
    font-family: 'Outfit';
    letter-spacing: 0.1vh;
    width: 40vh;
} 

/* 
.grid{
    position:relative;
    background: linear-gradient(90deg, rgb(166, 214, 241) 0%, rgb(134, 197, 233) 100%);
    width: 80%;
    float:center;
    border-radius: 1vh;
    margin-left: 1vh;
    margin-top:2vh;
    text-align: center;
    text-indent: 1vh;
    vertical-align: center;
}

.locbutton{
    font-family: "Outfit";
    font-size: 2.5vh;
    margin-bottom: 1vh;
}

.locationIcon {
    padding-top: 0.5vh;
    width: 6vh;
}

.placeupdate-container {
    display: inline-block;
    padding-top: 1vh;
    width: 100%;
}






.traffic-searchloc{
    text-align: left;
    position: absolute;
    width: 100%;
    top: 18vh;
}
.traffic-sourceloc{
    position: relative;
}

.traffic-destination{
    position: relative;
    margin-top: 1vh;
}

.traffic-from{
    margin-left: 15px;
    margin-bottom: -20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.49);
}

.traffic-fromsearch{
    width: 95%;
    top: 3vh;
    height: 2.8rem;
    margin-left: 5px;
    margin-bottom: 10px;
    font-size: 1.5vh;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    letter-spacing: 0.44px;
}

.traffic-sourcelocdesc{
    text-align: center;
    padding-left:2vh;
    color: gray;
    font-family: 'Outfit';
    font-size: 1.5vh;
    padding-top: 15px;
}

.traffic-to{
    text-align: left;
    padding-left:2vh;
    color: gray;
    font-family: 'Outfit';
    height:1vh;
}

.traffic-destinationdesc{
    text-align: left;
    padding-left:2vh;
    color: gray;
    font-size: 1.5vh;
    font-family: 'Outfit';
}

*/

