/* Login Page */

@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap%27');

.login-background {
    height: 100vh !important;
    background-color: #EB811E;
    background-image: url("/src/Assets/images/streets_background.png");
    background-repeat: no-repeat;
    background-position: right-top;
    background-attachment: fixed;
}

/*.log-in-left-side {
    position: absolute;
    left: -2.29%;
    right: 31.94%;
    top: -0.12%;
    bottom: -4.19%;
    
    background: #EB811E;
    border-radius: 8px;
}*/

.log-in-container {
    position: absolute;
    left: 57.99%;
    right: 0%;
    top: -0.12%;
    bottom: 0%;
    
    background: #FFFFFF;
    border-top-left-radius: 62px;
    border-bottom-left-radius: 62px;
}

.row{
    position: absolute;
    width: 631px;
    height: 650px;
    left: 62px;
    top: 58px;
}

.log-in-text-1{
    position: absolute;
    left: 60.51%;
    right: 58.18%;
    top: 22.55%;
    bottom: 57.39%;

    font-family: 'Outfit';
    width: 300px;
    text-align: left;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 78.5%;
    /* or 31px */

    letter-spacing: -0.02em;

    color: #F5F5F5;

}

.log-in-text-2{
    position: absolute;
    left: 46.06%;
    right: 60.83%;
    top: 41.25%;
    bottom: 51.69%;

    font-family: 'Outfit', sans-serif;
    width: 300px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 78.5%;
    text-align: left;
    /* or 40px */

    letter-spacing: -0.02em;

    color: #F5F5F5;
}

.log-in-text-3{
    position: absolute;
    left: 41.5%;
    right: 69.93%;
    top: 61.81%;
    bottom: 36.32%;
    
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    width: 206px;
    font-weight: 500;
    font-size: 40px;
    line-height: 78.5%;
    text-align: left;
    /* or 40px */
    
    letter-spacing: -0.02em;
    
    color: #F5F5F5;
    

}

.log-in-text-4{
    position: absolute;
    left: 3.31%;
    right: 66.32%;
    top: 2.75%;
    bottom: 68.57%;

    font-family: 'Outfit';
    width: 400px;
    text-align: left;
    font-style: normal;
    font-weight: 800;
    font-size: 82px;
    line-height: 78.5%;
    /* or 64px */

    letter-spacing: -0.02em;

    color: #FFFFFF;

}

.log-in-text-5{
    position: absolute;
    left: 86.51%;
    right: 42.92%;
    top: 82.91%;
    bottom: 6.05%;
    
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 82px;
    line-height: 78.5%;
    /* or 64px */
    
    letter-spacing: -0.02em;
    
    color: #FFFFFF;
    
}

.icon-login{
    position: absolute;
    width: 333px;
    height: 700px;
    left: 470px;
    top: 10px;
    
    
}

.logo-login{
    position: absolute;
    width: 278px;
    height: 58px;
    left: 25%;
    top: 21px;
    scale: 90%;
}

.form-description{
    position: absolute;
    /* height: 106px;
    width: 419px; */
    width: 489px;
    /* background-color: transparent; */
    left: 35px;
    top: 88px;

    font-family: 'Outfit';
    font-weight: 200;
    text-align: center;
}

.inputBox-container{
    position: absolute;
    top: 230px;
    left: 17px;
}

.log-in-text-6{
    position: absolute;
    width: 419px;
    height: 106px;
    left: 1030px;
    top: 167px;
    
    font-family: 'Outfit' , sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
    /* or 188% */
    
    text-align: center;
    letter-spacing: 0.4px;
    
    color: #000000;
    
    
}

.log-in-text-7{
    position: absolute;
    width: 167px;
    height: 20px;
    left: 200px;
    top: 510px;
    
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    
    color: #D0D0D0;
    
    
}



.login-btn{
    position: absolute;
    width: 501px;
    height: 53px;
    left: 26px;
    top: 430px;    
    
    background: #EB811E;
    border-radius: 8px;

    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 136.5%;
    /* or 22px */

    text-align: center;
    letter-spacing: 0.38em;

    color: #FFFFFF;

    border: 0.5px solid #FFFFFF;
    cursor: pointer;
}

.signup-btn{
    position: absolute;
    width: 415px;
    height: 53px;
    left: 70px;
    top: 540px;    
    
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #000000;

    
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 5.5px;

    color: #000000;
    cursor: pointer;
}

.input-1{
    box-sizing: border-box;

    position: absolute;
    left: 67%;
    right: 5.9%;
    top: 38.65%;
    bottom: 55.06%;

    background: #FFFFFF;
    border: 1px solid #000000;

    font-family: 'Outfit',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 115.5%;
    /* border-radius: 10px; */
    /* or 18px */

    text-align: left;
    letter-spacing: 5.5px;

    color: #000000;
}

.input-2{
    box-sizing: border-box;

    position: absolute;
    left: 67%;
    right: 5.9%;
    top: 47.61%;
    bottom: 46.1%;
    

    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 115.5%;
    /* or 18px */


    text-align: left;
    letter-spacing: 5.5px;

    color: #000000;
    
}

.psw{
    position: absolute;
    width: 128px;
    height: 20px;
    left: 400px;
    top: 380px;
    
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    
    color: #000000;
    
}

