
/* Outfit Font Import */
@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');


/* Background Image */
.landing-background {
    height: 100vh !important;
    background-color: white;
    background-image: url("/src/Assets/images/streets_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* TEXT */

.landing-main-text {
    position: absolute;
    width: 740px;
    height: 90px;
    left: 70px;
    top: 220px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 90px;
    text-align: left;


    color: #EB811E;
}

.landing-sub-text-one {
    position: absolute;
    width: 740px;
    height: 90px;
    left: 70px;
    top: 340px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    text-align: left;

    color: #0079BE;
}

.landing-sub-text-two {
    position: absolute;
    width: 740px;
    height: 90px;
    left: 70px;
    top: 375px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;

    text-align: left;

    color: #000000;
}

/* IMAGES */

.ceboom-logo {
    position: absolute;
    width: 280px;
    height: 60px;
    left: 70px;
    top: 30px;
}

.ceboom-logo-one {
    position: absolute;
    width: 427px;
    height: 518px;
    left: 920px;
    top: 130px;
}

.container {
    align-items: flex-start;
    width: 100%;
    float: left;
}

.color-orange {
    color:#EB811E;
}


/* BUTTONS */

.login button[type="submit"]{
    position: absolute;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    color: white;
    border: none;
    width: 12.5%;
    height: 7.5%;
    left: 70px;
    top: 450px;
    font-size: 16px;
    background-color: #EB811E;
    cursor: pointer;
}

.learnmore {
    position: absolute;
    font-weight: bold;
    font-family: 'Outfit', sans-serif;
    color: #EB811E;
    border: 2px solid #EB811E;
    border-color: #EB811E;
    width: 12.5%;
    height: 7.5%;
    left: 280px;
    top: 450px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
}


/* NAVIGATION BAR */

.nav-bar-land{
    font-size: 2.5vh;
    font-weight: bold;
    padding-top: 5vh;
    margin-right: 15vh;
}

.nav-bar-land > a{
    color: black;
    text-decoration: none;
    margin: 2.5vh;
}

.nav-bar-land > b{
    color:#0079BE;
    text-decoration: none;
    margin: 2.5vh;
}