.sidebar-submenu{
  position: absolute;
  display: flex;
  z-index: 100000;
  width: 500px;
  height: 100vh;
  background-color: white;
  margin-left: 6.5vh;
}

.editMap-Container {
  text-align: center; 
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  color: white;
  background-color: rgb(122, 177, 229);
  text-transform: uppercase;
  letter-spacing: +1.3px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px; 
}

.container {
  width: 500px;
  top: 84px;
  position: absolute;
  overflow: auto;
  font-weight: bold;
  letter-spacing: +1.3px;
  border-color: black;
}

.container a {
  display: block;
  color: black;
  padding: 15px;
  text-decoration: none;
  text-align: left;
}

.container a:hover {
  background-color: lightblue;
  color: black;
}
.container a:focus {
  background-color: #FFFA8B;
  color: black;
}