.sidebar-submenu{
  position: absolute;
  display: flex;
  z-index: 100000;
  width: 500px;
  height: 100vh;
  background-color: white;
  margin-left: 6.5vh;
}

p.ridge {
  border-style: ridge;
  text-align: left;
  height: 9vh;
  padding-top: 5px;
  padding-left: 20px;
  border-top: none;
}

.header {
  font-size: 20px;
}

.wrapper {
  display: inline;
  align-self: center;
  text-align: justify;
}

.button {
  background: none;
  border: none;
  padding-top: 6px;
  padding-right: 20px;
  text-align: justify;
 }

.button:hover {
  color: blue;
}

