.sidebar-submenu{
  position: absolute;
  display: flex;
  z-index: 100000;
  width: 500px;
  height: 100vh;
  background-color: white;
  margin-left: 6.5vh;
}

p.ridge {
  border-style: ridge;
  text-align: left;
  height: 9vh;
  padding-top: 5px;
  padding-left: 20px;
  border-top: none;
}

.flex-item {
  /* font-size: 20px; */
  margin-left: 50px;
  /* text-align: center !important; */
  margin-bottom: 10px;
  text-decoration: none !important;
}

.flex-header {
  /* font-size: 20px; */
  text-align: center !important;
}

.flex-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.editMap-Container {  
  text-align: center; 
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  color: white;
  background-color: rgb(122, 177, 229);
  text-transform: uppercase;
  letter-spacing: +1.3px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px; 
}

.container {
  width: 500px;
  top: 84px;
  position: absolute;
  overflow: auto;
  font-weight: bold;
  letter-spacing: +1.3px;
  border-color: black;
}

.wrapper {
  display: inline;
  align-self: center;
  text-align: justify;
}

.button {
  background: none;
  border: none;
  padding-top: 6px;
  padding-right: 20px;
  text-align: justify;
 }

.button:hover {
  color: blue;
}

