.sidebar-container {
    display: flex;
}

.sidebar {
    position: absolute;
    overflow: hidden;
    background: #fff;
    color: #000;
    height: 100vh;
    z-index: 10000000;
    transition: all 0.5s;
}

.sidebar-hamburger {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.sidebar-top-section {
    display: flex;
    align-items: center;
    margin-left: 0.5vh;
    gap: 1.5vh;
}

/** please help, i do not know how to turn the background of only the text skyblue.**/
.sidebar-display {}

.sidebar-display-text {

    align-items: center;
    justify-content: center !important;
    font-size: 2vh;
}


.sidebar-link {
    display: flex;
    color: #000;
    padding: 0.5vh 0.8vh;
    gap: 10px;
    transition: all 0.5s;
    text-decoration: none;
}

.sidebar-link:hover {
    background: lightskyblue;
    transition: all 0.5s;

}

.sidebar-active {
    z-index: 10000020;
    background: lightskyblue;
    color: #000;

}

.sidebar-icon,
.sidebar-link_text {
    z-index: 10000020;
    align-items: center;
    justify-content: left;
    font-size: 2vh;
}