.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #9cc0f9;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.leaflet-container {
  width: 100%;
  height: 100vh;
  background: #9cc0f9 !important;
}

/* .leaflet-tile-container{
  /* opacity: 0.3;
} */

.cebu-outline{
  fill: #bbe2c6;
  fill-opacity: 1;
  stroke: #bbe2c6;
  stroke-width: 5px;
}

.cebu-roads{
  stroke: white;
  stroke-width: 2px;
}