
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/*BACKGROUND*/
.AboutUs{
    background-image: url("../../Assets/images/AboutUs_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10vh;
    background-color: #ECF6FC;
    background-repeat: no-repeat;
    background-size: cover;
}

/*HEADER*/
.Header{
    background-image: url("../../Assets/images/AboutUs_background.png");
    background-color: #EB811E;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 5vh;
}

.Header > h1{
    color: white;
    font-family: Outfit;
    font-size: 7vh;
    font-weight: 900;
    margin-left: 7vh;
    margin-top: 13vh;
    text-align: left;
}

.Header > p{
    color: white;
    font-family: Outfit;
    font-size: 2.5vh;
    line-height: 4vh;
    margin-left: 7vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    white-space: pre-wrap;
    text-align: left;

}

/*NAVIGATION BAR*/
.Header > .nav-logo{
    background-image: url("../../Assets/images/project_ceboom_logo_v2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 78vh;
    height: 19vh;
    scale: 50%;
    border-radius: 3vh;
    margin-left: -13vh;
    margin-top: -11vh;
    position: absolute;
}

.Header > .nav-bar{
    font-family: Outfit;
    font-size: 2.5vh;
    font-weight: bold;
    padding-top: 15vh;
    margin-right: 5vh;
}

.Header > .nav-bar > a{
    color: white;
    text-decoration: none;
    margin: 5vh;
}

.Header > .nav-bar > a1{
    color:#0079BE;
    text-decoration: none;
}

/*TEAM SECTION*/
.TeamSection{
    position: relative;
    background-color: #FFFFFF;
    scale: 95%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    border-radius: 5vh;
}

.TeamSection > .team-pic{
    background-image: url("../../Assets/images/AboutUs_team.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vh;
    height: 105vh;
}

.TeamSection > .team-content{
    margin-left: 8vh;
    width: 108vh;
    height: 50vh;
    white-space: pre-wrap;
}

.TeamSection > .team-content > h4{
    font-family: Outfit;
    font-weight: 900;
    color: #757575;
    font-size: 3vh;
    margin-top: 5vh;
}

.TeamSection > .team-content > h2{
    font-family: Outfit;
    font-size: 5vh;
    font-weight: 900;
    margin-right: 5vh;
    margin-top: 3vh;
    text-align: justify;   
}

.TeamSection > .team-content > p{
    font-family: Poppins;
    color: #6E6E6E;
    font-size: 2.5vh;
    margin-right: 5vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

/*TeamSection List*/
.icon{
    scale: 60%;
    gap: -10vh;
}

.TeamSection > .team-content > .listrow{
    margin-top: 1vh;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 10vh;
}

.TeamSection > .team-content > .listrow > .listcol{
    display: flex;
    align-items: center;
    gap: 1vh;
}

.TeamSection > .team-content > .listrow > .listcol2{
    display: flex;
    align-items: center;
    gap: 1vh;
    margin-left: 11vh;
    color: #6E6E6E;
    font-family: Outfit;
    font-size: 2.5vh;
}

.TeamSection > .team-content > .listrow > .listcol3{
    display: flex;
    align-items: center;
    gap: 1vh;
    margin-left: 7.7vh;
    color: #6E6E6E;
    font-family: Outfit;
    font-size: 2.5vh;
}

.TeamSection > .team-content > .listrow > .listcol > p{
    color: #6E6E6E;
    font-family: Outfit;
    font-size: 2.5vh;
}

/*TeamSection Roles*/
.TeamSection > .team-content > .Role > .content {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 20vh;
    margin-top: 5vh;
    margin-left: 7vh;
}

.TeamSection > .team-content > .Role > .content > h2{
    font-family: Outfit;
    font-size: 6vh;
    font-weight: 900;
    color: #757575;
}

.TeamSection > .team-content > .Role > .content > h4{
    margin-top: -5vh;
    margin-left: -3vh;
    font-family: Outfit;
    font-size: 2vh;
    color: #1B1717;
}

/* FOOTER */

.Footer {
    width: 100%;
    height: 100%;
    height: 67vh;
    display: flex;
    position: absolute;
}


.LandscapeBackground {
    background-image: url(../../Assets/images/landscape_background.png);
    top: 10vh;
    width: 100%;
    height: 50vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0079BE;
}

.RectangleContainer {
    left: 3vh;
    width: 90vh;
    height: 63vh;
    position: absolute;
}

.GrayRectangle {
    width: 70vh;
    height: 46vh;
    position: absolute;
    background-color: #C4C4C4;
}

.WhiteRectangle {
    top: 21vh;
    left: 30vh;
    width: 60vh;
    height: 35vh;
    position: absolute;
    background-color: white;
}

.GroupText {
    top: 15vh;
    right: 8vh;
    width: 100vh;
    height: 27vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute; 
    font-size: 9vh;
    font-style: black;
    font-family: Poppins;
    font-weight: 900;
    letter-spacing: 0.5vh;
    line-height: 9vh;
    color: white;
    text-align: left;
}


.CeboomLogo {
    background-image: url(../../Assets/images/ceboom_logo_transparent.png);
    width: 45.5vh;
    height: 9.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 5vh;
    bottom: 10vh;
}

.BottomPart {
    top: 61vh;
    width: 100%;
    height: 4.5vh;
    position: absolute;
}

.BottomLine {
    background-image: url("../../Assets/images/footer_line.svg");
    width: 100%;
    height: 0.4vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;

}

.EndText {
    font-size: 2.4vh;
    position: absolute;
    font-style: SemiBold;
    text-align: left;
    font-family: Outfit;
    font-weight: 600;
    top: 1.44vh;
    left: 88vh;
    color: rgb(92, 92, 92); 
}