
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap'); 


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/*BACKGROUND*/
.AboutUs{
    background-image: url("../../Assets/images/AboutUs_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10vh;
}

/*HEADER*/
.Header{
    background-image: url("../../Assets/images/AboutUs_background.png");
    background-color: #EB811E;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom: 5vh;
}

.Header > h1{
    color: white;
    font-size: 7vh;
    margin-left: 5vh;
    margin-top: 25vh;
}

.Header > p{
    color: white;
    font-size: 2vh;
    margin-left: 7vh;
    margin-bottom: 10vh;
}

/*NAVIGATION BAR*/
.Header > .nav-logo{
    background-image: url("../../Assets/images/project_ceboom_logo_v2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 78vh;
    height: 19vh;
    scale: 50%;
    border-radius: 25px;
    margin-left: -15vh;
    margin-top: -11vh;
    position: absolute;
}

.Header > .nav-bar{
    font-size: 2.5vh;
    font-weight: bold;
    padding-top: 15vh;
    margin-right: 5vh;
}

.Header > .nav-bar > a{
    color: white;
    text-decoration: none;
    margin: 5vh;
}

.Header > .nav-bar > a1{
    color:#0079BE;
    text-decoration: none;
}

/*TEAM SECTION*/
.TeamSection{
    background-color: #FFFFFF;
    scale: 95%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
}

.TeamSection > .team-pic{
    background-image: url("../../Assets/images/AboutUs_team.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 85vh;
    height: 90vh;
}

.TeamSection > .team-content{
    margin-left: 5vh;
    width: 108vh;
    height: 50vh;
}

.TeamSection > .team-content > h4{
    color: #757575;
    font-size: 3vh;
    margin-top: 5vh;
}

.TeamSection > .team-content > h2{
    font-size: 5vh;
    margin-top: 2vh;
    
}

.TeamSection > .team-content > p{
    color: #6E6E6E;
    font-size: 2.5vh;
    margin-top: 2vh;
}

/* FOOTER */

.Footer {
    width: 100%;
    height: 67vh;
    display: flex;
    position: absolute;
    display: flex;
}

.BlueRectangle {
    top: 10vh;
    width: 100%;
    height: 50vh;
    background-color: #0079BE;
    position: absolute;
    display: flex;
}

.LandscapeBackground {
    background-image: url(../../Assets/images/landscape_background.png);
    top: 10vh;
    width: 100%;
    height: 50vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0079BE;
}

.RectangleContainer {
    left: 3vh;
    width: 106vh;
    height: 63vh;
    position: absolute;
}

.GrayRectangle {
    width: 74vh;
    height: 46vh;
    position: absolute;
    background-color: #C4C4C4;
}

.WhiteRectangle {
    top: 21vh;
    left: 37vh;
    width: 64vh;
    height: 35vh;
    position: absolute;
    background-color: white;
}

.GroupText {
    top: 15vh;
    left: 110vh;
    width: 92vh;
    height: 27vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute; 
    font-size: 8.5vh;
    font-style: black;
    font-family: Poppins;
    font-weight: 900;
    letter-spacing: 0.5vh;
    line-height: 9vh;
    color: white;
    text-align: left;
}


.CeboomLogo {
    background-image: url(../../Assets/images/ceboom_logo_transparent.png);
    top: 47vh;
    left: 154vh;
    width: 45vh;
    height: 9.5vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

}

.BottomPart {
    top: 61vh;
    width: 100%;
    height: 4.5vh;
    position: absolute;
}

.BottomLine {
    background-image: url("../../Assets/images/footer_line.svg");
    width: 100%;
    height: 0.4vh;
    position: absolute;

}

.EndText {
    font-size: 2.4vh;
    position: absolute;
    font-style: SemiBold;
    text-align: left;
    font-family: Outfit;
    font-weight: 600;
    top: 1.44vh;
    left: 88vh;
    color: rgb(92, 92, 92); 
}